allow nvram_daemon nvdata_file:lnk_file setattr;
allow nvram_daemon shell_exec:file rx_file_perms;
allow nvram_daemon toolbox_exec:file rx_file_perms;
# Allow reading rootfs for legacy MTK structure
allow nvram_daemon rootfs:dir r_dir_perms;
allow nvram_daemon rootfs:file r_file_perms;
